* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fdf2e9;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdf2e9;
  height: auto;
  max-height: 11rem;
  position: fixed;
  width: 100vw;
}
.navbar nav {
  margin-left: 55rem;
  font-size: 2.5rem;
}
.navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar img {
  height: 200px;
  width: 250px;
  margin-left: 0;
  margin-right: 15rem;
}
.navbar nav ul li a {
  color: #333;
  font: bold;
  text-decoration: none;
  margin: 2rem 2.5rem;
}
.navbar nav ul li a:hover {
  color: #cf711f;
  transition: all ease-in-out 0.3s;
}
.navbar nav ul li button {
  background-color: #cf711f;
  color: #fdf2e9;
  border: 1px solid #fdf2e9;
  font-size: 1.9rem;
  border-radius: 10px;
  height: auto;
  width: auto;
  min-height: 4rem;
  min-width: 15rem;
  box-shadow: 5px 5px 9px 1px rgb(215, 208, 208);
}
.navbar nav ul li button:hover {
  transform: scaleX(1.1);

  transition: all ease-in-out 0.3s;
}
/*CSS of generalInfo*/
.generalInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 15rem 20rem;
  margin-bottom: 10rem;
  padding: 1rem 1rem;
}
.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: auto;
  max-width: 80rem;
  max-height: 90rem;
  min-height: 40rem;
  min-width: 40rem;
}
.infoSection h1 {
  font-size: 7rem;
  color: #333;

  margin: 1rem 1rem;
  margin-top: 0;
}
.infoSection p {
  font-size: 3rem;

  margin: 3rem 1rem;
}
.infoSection button {
  background-color: #cf711f;
  color: #fdf2e9;
  font-size: 2.3rem;
  border-radius: 11px;
  height: auto;
  width: auto;
  min-height: 7.5rem;
  min-width: 28rem;
  margin: 1rem 2rem;
  border: 1px solid #fdf2e9;
  box-shadow: 5px 5px 9px 1px rgb(215, 208, 208);
}
.infoSection #button2 {
  background-color: #e3d7ce;
  color: #333;
}
.infoSection #button2:hover {
  background-color: #dacfc7;
  transform: translateX(5px);
  transition: all ease-in-out 0.3s;
}
.infoSection button:hover {
  background-color: #b06625;
  transform: translateX(-5px);
  transition: all ease-in-out 0.3s;
}
.imageSection {
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 1rem 1rem;
  border-radius: 15px;
}
.imageSection img {
  border-radius: 15px;
}
.imageSection img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.9s;
}
/*howIsItwork CSS*/
.howIsItwork {
  display: flex;
  flex-direction: column;

  background-color: white;
}
.howIsItwork .headerInHowItItWork h1 {
  font-size: 2rem;
  margin-top: 8rem;
  margin-left: 20rem;
  line-height: 1.5;
  color: #cf711f;
}
.howIsItwork .headerInHowItItWork h2 {
  font-size: 5rem;
  margin-left: 20rem;
  line-height: 1.5;
}
.howIsItwork .tip1,
.tip2,
.tip3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.howIsItwork .infoTip {
  display: flex;
  flex-direction: column;

  margin: 2rem 3rem;
  width: auto;
  height: auto;
  min-height: 100px;
  min-width: 80px;
  max-height: 505px;
  max-width: 600px;
  font-size: 2rem;
}
.howIsItwork .infoTip h3 {
  font-size: 8rem;
  color: #8e8e8e;
  line-height: 1.5;
}
.howIsItwork .infoTip h2 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  line-height: 1.5;
}
.howIsItwork .infoTip p {
  font-size: 2.3rem;

  line-height: 1.5;
}
.howIsItwork .imageInTip {
  height: auto;
  width: auto;
  max-height: 800px;
  max-width: 700px;
  margin: 1rem 9rem;
  overflow: hidden;
  border-radius: 25%;
}
.howIsItwork .imageInTip img {
  height: auto;
  width: auto;
  max-height: 700px;
  max-width: 600px;
}
.howIsItwork .imageInTip img:hover {
  transform: scale(1.05);
  transition: all ease-in-out 1s;
}
/*meals css*/
.meals {
  display: flex;
  flex-direction: column;
}
.meals .heaaderInMeals {
  align-items: center;
  margin: 5rem;
}
.meals .heaaderInMeals h1 {
  text-align: center;
  color: #cf711f;
  line-height: 1.5;
}
.meals .heaaderInMeals h2 {
  text-align: center;
  font-size: 6rem;
  line-height: 1.5;
}
.meals .cardsInMeal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.meals .cardsInMeal .card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  height: auto;
  width: auto;
  min-width: 45rem;
  min-height: 55rem;
  margin: 1rem 3rem;
  background-color: white;
  box-shadow: 5px 5px 9px 1px rgb(215, 208, 208);
}
.meals .cardsInMeal .card1:hover,
.card2:hover,
.card3:hover {
  transform: translateY(-15px);
  transition: all ease-in-out 0.5s;
}
.meals .cardsInMeal .imageInCard {
  height: auto;
  width: auto;
  max-width: 35rem;
  max-height: 35rem;
  margin: 2rem 3rem;
}
.meals .cardsInMeal .imageInCard img {
  height: auto;
  width: auto;
  max-width: 55rem;
  max-height: 18rem;
  animation: floatImage 5s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.1rem);
  }
  100% {
    transform: translateY(0);
  }
}
.meals .cardsInMeal .infoCard h3 {
  font-size: 4rem;
  line-height: 1.5;
}
.meals .cardsInMeal .infoCard h4 {
  font-size: 2rem;
  background-color: #cf711f;
  text-align: center;
  line-height: 1.5;
  color: white;
  border-radius: 15px;
  margin: 2rem 3rem;
}
.meals .cardsInMeal .infoCard ul {
  font-size: 2.3rem;
  line-height: 1.5;
  list-style: circle;
  color: #555;
}
